<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuji.xlt.main">

    <!--    网络-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--    读写-->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application>
        <activity
            android:name=".demo.DemoActivity"
            android:label="@string/title_activity_login">

        </activity>
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.page.CurrencyActivity" />
        <activity android:name=".aidl.TestAidlActivity"/>

        <receiver
            android:name=".receiver.UsbBroadcastReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_STATE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>